@import "utilities.css";
:root{
    --primary: #191A1D;
    --secondary: #F6F6F6;
    --raw: #FFFFFF;
    --active: #4B6CC1;
    --text: #919191;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
body{
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.container{
    max-width: 1360px;
    margin: 0 auto;
}



.section-title{
    color: var(--text);
    text-transform: uppercase;
    font-weight: 100;
    font-size: 24px;
    padding-bottom: 15px;
    border-bottom: 4px solid var(--secondary);
    letter-spacing: 2px;
}

.btn{
    padding: 20px 50px;
    color: var(--raw);
    background-color: var(--active);
    outline: none;
    font-size: 24px;
    text-transform: capitalize;
    border: 2px solid var(--active);
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.btn:hover{
    border: 2px solid var(--active);
    background-color: transparent;
}

/* ----------- header Area -------  */
.header-area{
    background-color: var(--primary);
    padding: 50px 0 200px 0;
    clip-path: polygon(0 0, 0 85%, 100% 100%, 100% 0);
}
.header-area::after{
    display: block;
    content: "";
    clear: both;
}
.header-area .nav-area{
    padding-bottom: 50px;
}
.header-area .logo a{
    color: var(--raw);
    text-transform: uppercase;
    font-size: 28px;
}
.header-area .logo{
    width: 30%;
    float: left;
}
.nav-area .menu-area{
    float: right;
}
.header-area .menu-area a{
    color: var(--text);
    margin: 0 20px;
    padding: 10px 10px;
    text-transform: capitalize;
    font-size: 20px;
}

.header-area .menu-area a:hover{
    color: var(--raw);
}

/*---------intro part -------- */
.intro{
    padding: 100px;
}
.intro .left-intro{
    float: left;
    width: 50%;
}
.intro .left-intro h1{
    font-size: 52px;
    color: var(--raw);
}

.intro .left-intro p{
    margin: 50px 0px;
    font-size: 32px;
    color: var(--text);
}



.intro .right-intro{
    float: right;
    padding: 50px;
}
.intro .right-intro img{
    height: 480px;
    width: 360px;
    border: 50px solid #000000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* --------- projects ---------*/
.projects{
    padding: 130px 0 130px 0;
}
.projects .description::after{
    display: block;
    content: "";
    clear: both;
}
.projects .description{
    padding-top: 75px;
    
}
.projects .description .project-img{
    width: 60%;
    box-sizing: border-box;
    float: left;
    border: 40px solid var(--secondary);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.projects .description .project-img img{
    width: 100%;
}
.projects .description .project-description{
    width: 34.5%;
    float: right;
    margin: 130px 0;
}

.projects .description .project-description .project-title h2{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 30px;
}
.projects .project-title a{
    color: var(--primary);
    text-transform: capitalize;
}

.projects .project-title a:hover{
    color: var(--text);
}

.projects .project-title p{
    color: var(--text);
    font-size: 24px;
    margin-bottom: 50px;
}

.projects .project-title .btn:hover{
    color: var(--active);
}

.projects .project-title .project-features ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.projects .project-title .project-features{
    margin-bottom: 50px;
}

.projects .project-title .project-features ul li{
    color: var(--text);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.projects .project-title .project-features ul li span{
    margin-right: 15px;
}

/* ------------ review ---------*/

.review{
    padding: 260px 0;
    background-color: var(--secondary);
    clip-path: polygon(0 0, 0 85%, 100% 100%, 100% 15%);
    text-align: center;
}

.review hr{
    width: 75px;
    margin: auto;
    border: 4px solid var(--active);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.review .quote p{
    font-size: 32px;
    width: 60%;
    font-weight: 100;
    line-height: 1.5;
    padding: 70px 0;
    margin: auto;
}

.review .clint{
    margin-top: 80px;
}
.review .clint-name{
    margin-top: 20px;
}

.review .clint-name h4{
    font-size: 24px;
    color: #5E5E5E;
}

.review .clint img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.review .clint .clint-com h4{
    padding: 20px 0;
    font-size: 24px;
    font-weight: 100;

}

.review .clint .clint-com h4 a{
    color: var(--active);
}

/* --------------------- Services area*/
.service-area{
    padding: 200px 0 200px 0;
    clip-path: polygon(0 0, 0 85%, 100% 100%, 100% 0);
}
.service-area .services{
    margin: 80px 0;
    box-sizing: border-box;
    display: flex;
}

.service-area .services .service{
    box-sizing: border-box;
    width: 47.5%;
    padding: 5% 2.5%;
    float: left;
    text-align: center;
    background-color: var(--secondary);
    border-top: 6px solid var(--active);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.service-area .services .design{
    margin-right: 2.5%;
}.service-area .services .development{
    margin-left: 2.5%;
}

.service-area .service-btn{
    text-align: center;
}

.service-area .service-btn .btn:hover{
    color: var(--active);
}
.service-area .services .service .logo-area i{
    color: var(--active);
    padding-bottom: 30px;
    font-size: 52px;
}

.service-area .services .service img{
    width: 100%;
    box-sizing: border-box;
    padding: -10% -2.5% 0 -2.5%;
}

.service-area .services .service hr{
    width: 30px;
    margin: 0 auto;
    border: 4px solid var(--active);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.service-area .service-title h3{
    margin: 30px 0;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;
}

.service-area .service-subtitle h4{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}

.service-area .service-description{
    font-size: 24px;
    color: var(--text);
}

/* --------footer area -------*/

.footer-area{
    background-color: var(--primary);
    padding: 200px 0 40px 0;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%);
}
.footer-area .copyright-section{
    font-size: 24px;
    color: var(--text);

    margin-top: 30px;
    text-align: center;
}
.footer-area .invitation{
    box-sizing: border-box;
    margin-right: 2.5%;
    width: 47.5%;
    float: left;
}
.footer-area .invitation h2{
    margin: 30px 0;
    font-size: 52px;
    font-weight: 400;
    color: var(--raw);
}
.footer-area .invitation p{
    font-size: 24px;
    color: var(--text);
    margin-bottom: 50px;
}
.footer-area .contacts ul{
    margin-top: 100px;
    list-style: none;
}

.footer-area .contacts ul li{
    margin: 15px 0;
    font-size: 18px;
}
.footer-area .contacts ul li i{
    margin-right: 30px;
    color: var(--active);
}
.footer-area .contacts ul li a{
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: var(--text);
}

.footer-area .contacts ul li a:hover{
    color: var(--raw);
}

.footer-area .contacts{
    margin-right: 2.5%;
    width: 47.5%;
    float: left;
    padding-left: 20%;
}
.footer-area .copyright-section a{
    font-size: 32px;
    color: var(--active);
}

.footer-area .copyright-section a:hover{
    color: var(--raw);
}

.footer-area .contact-area{
    margin-bottom: 200px;
}

.footer-area .contact-area::after{
    content: "";
    display: block;
    clear: both;
}

.service-area .services .design,
.service-area .services .development{
    border-top: transparent;
}
